  <ul>
    {{#each model as |legislator|}}
      <li><h3 class={{legislator.party}}> {{legislator.first_name}} {{legislator.last_name}}, {{legislator.title}}</h3>

        <h4>From: </h4>{{legislator.term_start}} until {{legislator.term_end}}

        <h4>Contact: </h4><a href={{legislator.contact_form}}>{{legislator.contact_form}}</a>

        <h4>Committee Involvement: </h4>

        <h4>Social Media:</h4>

        {{#if legislator.facebook_id}}
          <a href='http://www.facebook.com/{{legislator.facebook_id}}' target='blank'>Facebook</a><br>
        {{/if}}

        {{#if legislator.twitter_id}}
          <a href='http://www.twitter.com/{{legislator.twitter_id}}' target='blank'>Twitter</a><br>
        {{/if}}

        {{#if legislator.youtube_id}}
          <a href='http://www.youtube.com/{{legislator.youtube_id}}' target='blank'>Youtube</a><br>
        {{/if}}
        
      </li><br>
    {{/each}}
  </ul>
