  <ul>
    {{#each model as |legislator|}}
      <li>{{legislator.title}}. {{legislator.first_name}} {{legislator.last_name}}<br>Contact: <a href=  {{legislator.contact_form}}>{{legislator.contact_form}}</a>Facebook:<a href='http://www.facebook.com/ {{legislator.facebook_id}}'>{{legislator.first_name}}</a></li>
    {{/each}}
  </ul>
